* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arvo', sans-serif;
}

html { 
    background: url(images/homebg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background: url(images/homebg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ddd;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: default;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 40px;
}

.navbar__links {
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1rem 1rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
    height: 100%;
    background: #222831;
    border-radius: 20px;
}

.navbar__links:hover {
    background: #f05454;
    transition: 0.2s ease-in;
}

@media screen and (max-width: 920px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all o.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        top: 75%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #ddd;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        display: table;
        border-radius: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.work {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.work h1 {
    padding-bottom: 0px;
    padding-top: 20px;
    color: #ddd;
    background-size: 100%;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.work__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work__card {
    margin: 1rem;
    height: 480px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/images/writing.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.work__card:nth-child(1) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/images/programming.jpg');
}

.work__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/images/physics.jpg');
}

.work h2 {
    position: absolute;
    top: 320px;
    left: 30px;
}

.work__card p {
    position: absolute;
    top: 370px;
    left: 30px;
}

.work__card button {
    color: #ddd;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f05454;
    position: absolute;
    top: 410px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.work__card button:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in;
}

.work__card:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in;
}

.footer__container {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social__icon--link {
    color: #fff;
    font-size: 28px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
}

.social__logo {
    color: #ddd;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.image__credits a{
    color: #777;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8rem;
}

@media screen and (max-width: 1313px) {
    .footer__container {
        margin-top: 30rem;
        margin-left: 3rem;
    }

    .image__credits {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .footer__link--wrapper {
        flex-direction: column-reverse;
    }

    .social__media--wrap {
        flex-direction: column-reverse;
    }

    .social__icons {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 880px) {
    .footer__container {
        margin-top: 62rem;
    }
}