.writing__main {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.writing__main h1 {
    padding-bottom: 0px;
    padding-top: 20px;
    color: #eee;
    background-size: 100%;
    margin: 32px;
    font-size: 40px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.writing__main h3 {
    margin-top: 48px;
    color: #eee;
    background-size: 100%;
    margin-bottom: 8px;
    font-size: 24px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.ss__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ss__card {
    margin: 16px;
    height: 400px;
    width: 300px;
    border-radius: 3px;
    border-color: #eee;
    border-style: solid;
    border-width: 3px;
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
    position: relative;
    color: #fff;
}

.ss__card img {
    position: absolute;
    top: 50px;
    left: 80px;
}

.ss__container h2 {
    position: absolute;
    top: 220px;
    left: 115px;
    font-size: 32px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.ss__card p {
    position: absolute;
    top: 270px;
    left: 10px;
}

.ss__card button {
    color: #eee;
    padding: 5px 10px;
    outline: none;
    background: #1c145c;
    border-color: #eee;
    border-style: solid;
    border-width: 3px;
    position: absolute;
    top: 330px;
    left: 110px;
    font-size: 16px;
    cursor: pointer;
}

.ss__card a {
    text-decoration: none;
    color: #eee;
}

.ss__card button:hover {
    border-color: #9643ab;
    transition: 0.2s ease-in;
}

.poem__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.poem__container h2 {
    font-size: 24px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    position: relative;
    text-align: center;
    padding: 16px;
    padding-bottom: 8px;
}

.poem__container p {
    font-size: 16px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    display: flex;
    justify-content: center;
    padding: 16px;
}

.poem__card {
    margin: 16px;
    max-width: 300px;
    border-radius: 3px;
    border-color: #eee;
    border-style: solid;
    border-width: 3px;
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
    position: relative;
    color: #eee;
}

#haiku {
    max-height: 150px;
}

#timeAndSpace {
    max-width: 490px;
    max-height: 240px;
}

#unrequited {
    max-width: 780px;
}

#innocence {
    max-width: 550px;
}

#anteros {
    max-width: 550px;
}

#drawnToYou {
    max-width: 550px;
}

#nerens {
    max-width: 420px;
    max-height: 200px;
}

#tussen {
    max-width: 400px;
}

@media screen and (max-width: 790px) {
    .writing__main h1 {
        font-size: 56px;
    }
}

@media screen and (max-width: 590px) {
    .writing__main h1 {
        font-size: 48px;
    }

    #timeAndSpace {
        max-height: none;
    }

    #nerens {
        max-height: none;
    }
}

@media screen and (max-width: 520px) {
    .writing__main h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 450px) {
    .writing__main h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 370px) {
    .writing__main h1 {
        font-size: 28.8px;
    }
}